:root {
  --bg: #0f0f0f; /* Hoofdachtergrond */
  --bg-hd: #000000; /* Achtergrond header */
  --txt-hd: #ffdddd; /* Lettertype header */
  --bg-txt: #0f0f0f; /* Achtergrond textbox */
  --bg-ft: #050505; /* Achtergrond footer */
  --txt-ft: #ffdddd; /* Lettertype footer */
  --txt: #ffdddd; /* Lettertype */
  --txt-link: #378ad8; /* Kleur hyperlink */
	--bg-st: #c96565; /* Kleur subtitle*/
} /* kleuren gebruik als var */
body {
  font-family: 'Raleway', sans-serif; /* Lettertype */
  background-color: var(--bg); /* Achtergrond */
  overflow-x: hidden; /* geen scrollbars */
  margin: 0; /* Geen rand om het scherm */
} /* font & background & scrollbar & fullscreen*/
header {
  background-color: var(--bg-hd); /* Achtergrond van de :root */
  color: var(--txt-hd); /* Letterkleur van de :root */
} /* colors header */
header h1 {
  font-size: 52px; /* Lettergrootte */
  margin: 0; /* Compactere titel */
  height: 1vh; /* hoogte */
} /* text op de header */
header h1 img {
  width: 4vw; /* breedte en hoogte van logo.png */
  margin: 1vw; /* zorgt voor relatieve absolute positie */
} /* foto in de text op de header*/
section {
  padding-top: 1vh; 
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
} /* parent van de 'box' waar de text in staat*/
#alinia {
  border-radius: 25px; /* Afgeronde hoeken */
  background-color: var(--bg-txt); /* Achtergrond textbox */
} /* einde van de 'box' zonder einde van <section> */
section h2 {
  font-size: 24px; /* Groot kopje */
  color: var(--txt); /* Letterkleur */
} /* titel in de 'box' */
section p {
  font-size: 16px; /* Grote tekst */
  line-height: 1.4;
  color: var(--txt); /* Letterkleur */
} /* tekst in de 'box' */
section a {
  color: var(--txt-link); /* Kleur hyperlink */
  text-decoration: none; /* Geen onderlijning */
  font-style: normal; /* Schuin lettertype */
} /* hyperlinks in de teks, haalt decorations weg */



footer {
  background-color: var(--bg-ft); /* Achtergrond footer */
  color: var(--txt-ft); /* Letterkleur footer */
  padding: 20px; /* Ruimte tussen rand en tekst */
  text-align: center; /* Tekst gecentreerd */
  font-size: 14px; /* Lettergrootte */

  display: flex;
}

footer p {
  margin: 0; /* Geen marges */
}

.subtitle {
	font-size: 18px;
  color: var(--txt-hd);
  text-align: center;
  padding: 1px;
  background-color: var(--bg-st);
	position: sticky;
  top: 0px;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

#interact {
  padding: 5px;
  font-size: 16px;
  border:3px solid var(--bg-st);
  background-color: var(--txt-hd);
  border-radius: 15px;
  color: var(--bg);
}
